@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Sen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Sen:wght@400;700&display=swap');

.ff_poppins {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

.ff_sen {
    font-family: 'Sen', sans-serif;
    font-style: normal;
}

.ff_inter {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

/* root */
:root {
    /* font_size */
    --fs-84: 84px;
    --fs-56: 56px;
    --fs-46: 46px;
    --fs-40: 40px;
    --fs-30: 30px;
    --fs-28: 28px;
    --fs-26: 26px;
    --fs-24: 24px;
    --fs-21: 21px;
    --fs-20: 20px;
    --fs-19: 19px;
    --fs-18: 18px;
    --fs-16: 16px;
    --fs-14: 14px;
    --fs-12: 12px;



    /* color */
    --color-black: #2D3134;
    --color-navy: #2E476B;
    --color-orange: #F66F4D;
    --color-khakhi: #FAF8ED;
    --color-grey: #5B5F62;
    --color-lightgrey: #9498A4;
    --color-lightwhite: #EAEAEB;
    --color-white: #FFFFFF;
    --color-grey2: #939597;
    --color-yellow: #FFD482;
    --color-darkgrey: #676A6C;




}

/* color */

.black {
    color: var(--color-black);
}

.navy {
    color: var(--color-navy);
}

.orange {
    color: var(--color-orange);
}

.grey {
    color: var(--color-grey);
}

.lightgrey {
    color: var(--color-lightgrey);
}

.lightwhite {
    color: var(--color-lightwhite);
}

.white {
    color: var(--color-white);
}

.grey2 {
    color: var(--color-grey2);
}

.yellow {
    color: var(--color-yellow);
}

.darkgrey {
    color: var(--color-darkgrey);
}





/* ...bg_color... */
.bg_khakhi {
    background: var(--color-khakhi);
}

/* font_size */
.fs_84 {
    font-size: var(--fs-84);
}

.fs_56 {
    font-size: var(--fs-56);
}

.fs_46 {
    font-size: var(--fs-46);
}

.fs_40 {
    font-size: var(--fs-40);
}

.fs_30 {
    font-size: var(--fs-30);
}

.fs_28 {
    font-size: var(--fs-28);
}

.fs_26 {
    font-size: var(--fs-26);
}

.fs_24 {
    font-size: var(--fs-24);
}

.fs_21 {
    font-size: var(--fs-21);
}

.fs_20 {
    font-size: var(--fs-20);
}

.fs_19 {
    font-size: var(--fs-19);
}

.fs_18 {
    font-size: var(--fs-18);
}

.fs_16 {
    font-size: var(--fs-16);
}

.fs_14 {
    font-size: var(--fs-14);
}

.fs_12 {
    font-size: var(--fs-12);
}


/* font-weight */
.fw_700 {
    font-weight: 700;
}

.fw_600 {
    font-weight: 600;
}

.fw_500 {
    font-weight: 500;
}

.fw_400 {
    font-weight: 400;
}

@media (max-width:1200px) {

    /* root */
    :root {
        /* font_size */
        --fs-84: 70px;
        --fs-56: 40px;
        --fs-46: 40px;
        --fs-40: 40px;
        --fs-30: 30px;
        --fs-28: 28px;
        --fs-26: 20px;
        --fs-24: 24px;
        --fs-21: 18px;
        --fs-20: 20px;
        --fs-19: 19px;
        --fs-18: 18px;
        --fs-16: 16px;
        --fs-14: 14px;
        --fs-12: 12px;
    }
}
@media (max-width:992px) {

    /* root */
    :root {
        /* font_size */
        --fs-84: 60px;
        --fs-56: 49px;
        --fs-46: 38px;
        --fs-40: 40px;
        --fs-30: 30px;
        --fs-28: 28px;
        --fs-26: 18px;
        --fs-24: 24px;
        --fs-21: 17px;
        --fs-20: 20px;
        --fs-19: 19px;
        --fs-18: 18px;
        --fs-16: 16px;
        --fs-14: 14px;
        --fs-12: 12px;
    }
}
@media (max-width:768px) {

    /* root */
    :root {
        /* font_size */
        --fs-84: 45px;
        --fs-56: 45px;
        --fs-46: 36px;
        --fs-40: 40px;
        --fs-30: 30px;
        --fs-28: 28px;
        --fs-26: 16px;
        --fs-24: 24px;
        --fs-21: 15px;
        --fs-20: 20px;
        --fs-19: 19px;
        --fs-18: 18px;
        --fs-16: 16px;
        --fs-14: 14px;
        --fs-12: 12px;
    }
}
@media (max-width:576px) {

    /* root */
    :root {
        /* font_size */
        --fs-84: 35px;
        --fs-56: 35px;
        --fs-46: 34px;
        --fs-40: 40px;
        --fs-30: 30px;
        --fs-28: 28px;
        --fs-26: 14px;
        --fs-24: 24px;
        --fs-21: 14px;
        --fs-20: 20px;
        --fs-19: 19px;
        --fs-18: 18px;
        --fs-16: 16px;
        --fs-14: 14px;
        --fs-12: 12px;
    }
}