*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.nav_btn {
    border: 1.4px solid #F66F4D;
    border-radius: 30px;
    padding: 15px 34px;
}

body {
    background-color: var(--color-khakhi);
}

.nav_3_line {
    background-color: #161616;
    padding: 3px 18px;
    margin-top: 3px;
    border-radius: 10px;
    z-index: 3;

}

.line_height_1 {
    line-height: 1;
}

.hr {
    width: 47px;
    height: 0px;
    border: 1px solid #EAEAEB;
    transform: rotate(90deg);
}

.white_box {
    height: 76px;
    background: #FDFEFF;
    box-shadow: 0px 28px 56px -6px rgba(246, 111, 77, 0.05);
    border-radius: 38px;
}

.red_box {
    background: #F66F4D;
    border-radius: 31px;
    padding: 16px 16px;
}

.white_box_2 {
    height: 178px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 14px;
}

.grey_box {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: linear-gradient(165.91deg, #FFECC9 10.03%, #FFD482 139.08%);
}

.white_box_3 {
    background: #FFFFFF;
    border-radius: 14px;
    height: 218px;
    width: 180px;

}

.khakhi_box {
    width: 386px;
    background: #FAF8ED;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 24px 90px rgba(192, 188, 161, 0.22);
    border-radius: 16px;
}

.ligth_grey_box {
    padding: 12px 16px;
    background: #2D3134;
    border-radius: 46px;
}


/* .slick_slider */

.slick-dots {
    display: none !important;
}

.slider_btn {
    height: 60px;
    width: 60px;
    border: 2px solid #2D3134;
    border-radius: 50%;
    background: var(--color-khakhi);
}

.slider_btn:hover {
    background-color: #2D3134;
}

.slider_btn:hover path {
    stroke: #ffff;

}

.slider_img_wdth {
    max-width: 170px;
}



.slider_btn_arrow {
    line-height: 0.5;
    color: #2D3134;
}


@media (max-width:992px) {
    nav ul {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: green;
        width: 100%;
        height: 100vh;
        justify-content: center;
        transition: 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        align-items: center;
        flex-direction: column;
        text-align: center;


    }

    .nav_left {
        left: 0;
    }

    .white_box_2 {
        height: 135px;
        background: rgba(255, 255, 255, 0.7);
        border-radius: 14px;
    }

}

@media (min-width:1200px) {
    .max_width_500_xl {
        max-width: 580px;
    }

    .max_width_467_xl {
        max-width: 467px;
    }

    .width_86_xl {
        width: 86px;
    }

    .max_width_400_xl {
        max-width: 400px;
    }
}

@media (max-width:576px) {
    .white_box {
        height: 240px;
    }

    .max_width_192_xsm {
        width: 192px;
    }

}